@import "./utils/common";
@import "./utils/mixins";
@import "./utils/variables";
@import "./utils/reset";
@import "./utils/visually-hidden";
@import "./utils/container";
@import "./components/header";
@import "./components/hero";
@import "./components/products";
@import "./components/about";
@import "./components/advantages";
@import "./components/gallery";
@import "./components/customer-reviews";
@import "./components/contacts";
@import "./components/footer";
