.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @include mobile {
    width: 480px;
  }

  @include tablet {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }

  @include desktop {
    padding-left: 16px;
    padding-right: 16px;
    width: 1200px;
  }
}