// глобальні стилі
body {
    font-family: Titan One;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

//вимикнення маркерів та відступів у списках
* .list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

//вимкнення підкреслення у посиланнях
.link {
    text-decoration: none;
}

//скидання незаповненого простору у картинках - зміна блокового типу елемента на блочний
img {
    display: block;
    max-width: 100%;
    height: auto;
}