// глобальні стилі

body {
    //ПЕРЕВІРИТИ та ВИПРАВИТИ:

    //font-family: $main-font;
    //color: $main-font-color;
    //font-size: 14px;
    //background-color: $main-light;
    //letter-spacing: 0.03em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

//вимикнення маркерів та відступів у списках
* .list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

//вимкнення підкреслення у посиланнях
.link {
    text-decoration: none;
}

//скидання незаповненого простору у картинках - зміна блокового типу елемента на блочний
img {
    display: block;
    max-width: 100%;
    height: auto;
}