//fonts

$primary-text-color: #212121;
$title-text-color: #D41443;
$first-text-color: #000000;
$second-text-color: #907E82;
$hero-elipce-color: #FFA5BA;
$backgraund-color: #FFB8CA;
$backgraund-ice-color: #F0D1A5;
$backgraund-ice-third-color: #C2E297;
$backgraund-about-color: #FFF5F6;
$rectangel-backgraund-text-color: #FAFAFA;
$elipce-social-color: #FEA5BB;
$model-color: #E17992;


