<section class='about'>
    <div class='container'>
        <h2 class='about__hero'>tradition and love</h2>
        <h3 class='about__question'>how it’s made?</h3>
        <div class='about__section'>
            <ul class='activity'>
                <li class='activity__item'>
                    <p class='activity__text'>
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.
                    </p>
                    <p class='activity__taitle'>
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. Aliquam erat
                    volutpat. Aenean accumsan.
                    </p>
                  <button class='activity__button'>Read more</button>
                </li>
                <li class='activity-gpg'>
                    <picture>
                        <source srcset=" 1x,
                                         2x
                                " media="(min-width: 1200px)">
                        <source srcset=" 1x,
                                         2x
                                " media="(min-width: 768px)">
                        <source srcset=" 1x,
                                         2x
                                " media="(min-width: 480px)">
                        <img class='activity-gpg__bloc' src="" alt="">
                    </picture>
                </li>
            </ul>
        </div>
        <div class='about__section'>
            <ul class='about-information'>
                <li class='about-information__imet'>
                    <div class='about-information__imet'>
                        <svg class='about-information__icon'>
                            <use href=""></use>
                        </svg>
                    </div>
                    <h3 class='about-information__subject'>721</h3>
                    <p class='about-information__text'>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </li>
                <li class='about-information__imet'>
                    <div class='about-information__imet'>
                        <svg class='about-information__icon'>
                            <use href=""></use>
                        </svg>
                    </div>
                    <h3 class='about-information__subject'>16kg</h3>
                    <p class='about-information__text'>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </li>
                <li class='about-information__imet'>
                    <div class='about-information__imet'>
                        <svg class='about-information__icon'>
                            <use href=""></use>
                        </svg>
                    </div>
                    <h3 class='about-information__subject'>84</h3>
                    <p class='about-information__text'>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </li>
            </ul>
        </div>
    </div>
</section>