<section class=' about ' id="about">
  <div class='container activity-milc'>
    <p class='about-hero'>tradition and love </p>
    <h2 class='about-question'>how it’s made?</h2>
      <div class='activity '>
        <div class='activity-jpg'>
          <picture>
            <source srcset=" ./images/about-pic1-desktop.png,
                                           ./images/about-pic1-desktop-2x.png"
                    media="(min-width: 1200px)">
            <source srcset=" ./images/about-pic1-tablet.png,
                                           ./images/about-pic1-tablet-2x.png"
                    media="(min-width: 768px)">
            <source srcset=" ./images/about-pic1-mobile.png,
                                           ./images/about-pic1-mobile-2x.png "
                    media="(min-width: 320px)">
            <img class='activity-gpg__bloc' src="./images/about-pic1-desktop.png" alt="">
          </picture>
        </div>
        <div class='activity-item activity-milc-mob'>
          <p class='activity-text'>
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
            Maecenas eleifend erat at justo fringilla.
          </p>

          <p class='activity-taitle'>
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
            <br/>
            <br/>
            Aliquam erat
            volutpat. Aenean accumsan.
          </p>
          <button class='activity-button'>Read more
            <svg class="activity-svg" width="10" height="16" >
              <use href="./images/symbol-defs.svg#icon-vector-11" ></use>
            </svg>
          </button>

          <div class="products-backdrop prod-cream" prod-modal-cream>
            <div class="products-modal-cream">
                <button type="button" class="about-modal-close-btn" prod-modal-close-cream>
                    <svg class=" cross" width="18" height="18">
                        <use class="icon-cross" href="./images/symbol-defs.svg#products-icon-close"></use>
                    </svg>
                </button>
                <h4 class="products-prod-title__list">ice cream</h4>
                <div class="products-modal-form">
                    <p class="products-modal-titel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum tempore aspernatur reprehenderit, labore suscipit soluta aperiam perspiciatis asperiores harum doloribus, rem dolore assumenda reiciendis officiis laborum molestiae optio odio consectetur.
                    Illum architecto repudiandae nemo tempora dicta quasi voluptatem sed autem ea doloremque voluptatibus quae repellendus. </p>
                    <button type="submit" class="products-button">замовити</button>
                </div>
            </div>
        </div>
              </div>
      </div>
  </div>

</section>

<script src="./about-modal.js"></script>