<section class='advantages' id="advantages">
  <h2 class='visually-hidden'>benefits</h2>
  <div class='container'>
      <ul class='about-information '>
        <li class='about-information_imet Group'>
          <h3 class='about-information_subject'>721</h3>
          <p class='about-information_text'>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class='about-information_imet about-information_imet-left apple'>
          <h3 class='about-information_subject'>16kg</h3>
          <p class='about-information_text about-information_text-width'>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class='about-information_imet Vector'>
          <h3 class='about-information_subject'>84</h3>
          <p class='about-information_text about-information_left-width'>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
      </ul>
  </div>
</section>