<section class="contacts" id="contacts-id">
    <div class="container">
        <h2 class="visually-hidden">Contacts Address</h2>
        <ul class="contacts__contacts-list list">
        <li class="contacts__card">
            <div class="contacts__card-bg">
            <div class="contacts__office-cafe">
                <p class="contacts__office-style">CAFE</p>
            </div>
                <p class="contacts__header">Chicago</p>
                <p class="contacts__address-style">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <div class="contacts__schedule">
                <p class="contacts__header">Monday - Friday</p>
                <p class="contacts__time-style">06:00 AM - 10:00 PM</p>
                <p class="contacts__header">Saturday - Sunday</p>
                <p class="contacts__time-style">08:00 AM - 16:00 PM</p>
            </div>
            <ul class="contacts__callback">
                <li><a class="contacts__callback-style" 
                    href="tel:+61(0)&nbsp383&nbsp766&nbsp284">+61(0) 383 766 284</a></li>
                <li><a class="contacts__callback-style" 
                    href="mailto:noreply@envato.com">noreply@envato.com</a></li>
            </ul>
        </div>
        </li>
        <li class="contacts__card">
            <div class="contacts__card-bg">
            <div class="contacts__office-foodtrack">
                <p class="contacts__office-style">FOODTRUCK</p>
            </div>
                <p class="contacts__header">Los&nbspAngeles</p>
                <p class="contacts__address-style">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <div class="contacts__schedule">
                <p class="contacts__header">Monday - Friday</p>
                <p class="contacts__time-style">06:00 AM - 10:00 PM</p>
                <p class="contacts__header">Saturday - Sunday</p>
                <p class="contacts__time-style">08:00 AM - 16:00 PM</p>
            </div>
            <div class="contacts__callback">
                <a class="contacts__callback-style" 
                    href="tel:+61(0)&nbsp383&nbsp766&nbsp284">+61(0) 383 766 284</a>
                <a class="contacts__callback-style" 
                    href="mailto:noreply@envato.com">noreply@envato.com</a>
            </div>
        </div>
        </li>
        <li class="contacts__card">
            <div class="contacts__card-bg">
            <div class="contacts__office-cafe">
                <p class="contacts__office-style">CAFE</p>
            </div>
                <p class="contacts__header">New&nbspYork</p>
                <p class="contacts__address-style">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <div class="contacts__schedule">
                <p class="contacts__header">Monday - Friday</p>
                <p class="contacts__time-style">06:00 AM - 10:00 PM</p>
                <p class="contacts__header">Saturday - Sunday</p>
                <p class="contacts__time-style">08:00 AM - 16:00 PM</p>
            </div>
            <div class="contacts__callback">
                <a class="contacts__callback-style" 
                    href="tel:+61(0)&nbsp383&nbsp766&nbsp284">+61(0) 383 766 284</a>
                <a class="contacts__callback-style" 
                    href="mailto:noreply@envato.com">noreply@envato.com</a>
            </div>
        </div>
        </li>
    </ul>

    <ul class="contacts__buttons-list">
        <li><button type="button" class="contacts__location-button" data-modal-open>
            <div class="contacts__location-button-items-centered">
                <span class="contacts__location-button-text">Our&nbspLocations</span>
                <div class="contacts__location-button-icon"><svg width="4" height="8">
                    <use href="./images/symbol-defs.svg#icon-button-svg1"></use>
                </svg></div></div></button></li>
        <li><button type="button" class="contacts__franchise-button" data-modal-open>
            <div class="contacts__location-button-items-centered">
                <span class="contacts__franchise-button-text">Franchise</span>
                <div class="contacts__franchise-button-icon"><svg width="4" height="8">
                    <use href="./images/symbol-defs.svg#icon-button-svg"></use>
                </svg></div></div></button></li>
            </ul>
</div>
</section>