<section class="customer-reviews">
  <div class="review__container container">
    <div class="slider single-item">
      <div class="review__slider">
        <img
          src="/src/images/customer-1-mobile.png"
          alt="review1"
          class="review__picture"
        />
        <h2 class="review__title">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </h2>
      </div>
      <div class="review__slider">
        <img
          src="/src/images/customer-2-desktop.png"
          alt="review1"
          class="review__picture"
        />
        <h2 class="review__title">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </h2>
      </div>
      <div class="review__slider">
        <img
          src="/src/images/customer-3-desktop.png"
          alt="review1"
          class="review__picture"
        />
        <h2 class="review__title">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </h2>
      </div>
    </div>
    <p class="review__name">Emily, Los Angeles</p>
  </div>
</section>
