<section class="customer-reviews">
  <!-- Slider main container -->
  <div class="customer-reviews__container">
  <div class="slider swiper">
    <div class="slides swiper-wrapper">
      <div class="swiper-slide">
        <img
          srcset="/src/images/customer-1-desktop.png 1x, /src/images/customer-1-desktop-2x.png 2x"
          alt="review1"
          class="review__picture"
          sizes="100%"
        />
        <div class="text__review">
        <h2 class="review__title">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </h2>
        </div>
        <p class="review__name">Emily, Los Angeles</p>
      </div>
      <div class="swiper-slide">
        <img
          srcset="/src/images/customer-2-desktop.png 1x, /src/images/customer-2-desktop-2x.png 2x"
          alt="review1"
          class="review__picture"
        />
        <div class="text__review">
        <h2 class="review__title">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </h2>
        </div>
        <p class="review__name">Emily, Los Angeles</p>
      </div>
      <div class="swiper-slide">
        <img
          srcset="/src/images/customer-3-desktop.png 1x, /src/images/customer-3-desktop-2x.png 2x"
          alt="review1"
          class="review__picture"
        />
        <div class="text__review">
        <h2 class="review__title">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </h2>
        </div>
        <p class="review__name">Emily, Los Angeles</p>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  </div>
  
    </div>
  </div>
  </div>
</section>
