<section class="customer-reviews">
  <!-- Slider main container -->
  <div class="slider swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img
          src="/src/images/customer-1-mobile.png"
          alt="review1"
          class="review__picture"
        />
        <h2 class="review__title">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </h2></div>
      <div class="swiper-slide"><img
          src="/src/images/customer-2-desktop.png"
          alt="review1"
          class="review__picture"
        />
        <h2 class="review__title">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </h2></div>
      <div class="swiper-slide"><img
          src="/src/images/customer-2-desktop.png"
          alt="review1"
          class="review__picture"
        />
        <h2 class="review__title">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </h2></div>
      ...
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  </div>
    </div>
    <p class="review__name">Emily, Los Angeles</p>
  </div>
</section>