<!-- gallery -->

<section class="gallery">
  <div class=" container container-gallery">
    <h2 class="visually-hidden">Gallery</h2>
    <picture>
      <source media="(min-width: 1200px )" srcset="
          ./images/gallery-desktop-new.png   1x,
          ./images/gallery-desktop-new-2x.png 2x
        " />

      <source media="(min-width: 768px )" srcset="
          ./images/gallery-tablet-2x.png 1x,
          ./images/gallery-tablet.png    2x
        " />

      <source media="(max-width: 767px )" srcset="
          ./images/gallery-mobile.png    1x,
          ./images/gallery-mobile-2x.png 2x
        " />

      <img class="gallery__img" src="./images/gallery-desktop-new.png" alt="ice cream photo set" width="1013"
        height="430" />
    </picture>
  </div>
</section>