<!-- Gallery -->

<section class="gallery">
  <div class="gallery__container">
    <h2 class="visually-hidden">Gallery</h2>
    <picture>
      <source media="(min-width: 1200px )" srcset="
          /src/images/gallery-desktop.png    1x,
          /src/images/gallery-desktop-2x.png 2x
        " />

      <source media="(min-width: 768px )" srcset="
          /src/images/gallery-tablet-2x.png 1x,
          /src/images/gallery-tablet.png    2x
        " />

      <source media="(max-width: 767px )" srcset="
          /src/images/gallery-mobile.png    1x,
          /src/images/gallery-mobile-2x.png 2x
        " />

      <img class="gallery__img" src="/src/images/gallery-desktop.png" alt="ice cream photo set" width="1013"
        height="430" />
    </picture>
  </div>
</section>