<section class='header'>
<header class="page-header">
  <div class="container">
    <nav class="page-header_nav">
      <svg width="49.71px" height="47.71px" aria-label="logo" class="logo">
      </svg>
<!--      <a href="./hero.html" class="page-header_logo" lang="en"> Icecream </a>-->
      <button
        type="button"
        class="menu-btn"
        aria-expanded="false"
        aria-controls="mobile_menu_thumb"

      >
<!--        <svg width="40px" height="40px" aria-label="Переключатель мобільного меню">-->
<!--          <use class="icon-cross" href="./images/icons.svg#icon-close_menu"></use>-->
<!--          <use class="icon-menu" href="./images/icons.svg#icon-menu"></use>-->
<!--        </svg>-->
      </button>
      <div class="mobile-menu-thumb" id="mobile_menu_thumb" data-menu>
<!--        <ul class="site-nav-list">-->
<!--          <li class="site-nav-list_item">-->
<!--            <a class="site-nav-list_link-link" href="./about.html">Home</a>-->
<!--          </li>-->
<!--          <li class="site-nav-list_item">-->
<!--            <a class="site-nav-list_link" href="./about.html">About us</a>-->
<!--          </li>-->
<!--          <li class="site-nav-list_item">-->
<!--            <a class="site-nav-list_link" href="./about.html">How it’s made?</a>-->
<!--          </li>-->
<!--          <li class="site-nav-list_item">-->
<!--            <a class="site-nav-list_link" href="./about.html">Our products</a>-->
<!--          </li>-->
<!--          <li class="site-nav-list_item">-->
<!--            <a class="site-nav-list_link" href="./about.html">Contact</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--        <button-->
<!--          type="button"-->
<!--          class="menu-btn"-->
<!--          aria-expanded="false"-->
<!--          aria-controls="mobile_menu_thumb"-->
<!--          data-menu-button>-->
<!--          <svg width="20px" height="12px" aria-label="переключатель мобільного меню">-->
<!--            <use class="icon-cross" href=""></use>-->
<!--            <use class="icon-menu" href=""></use>-->
<!--          </svg>-->
<!--        </button>-->
<!--        <button data-modal-open class="btn" type="button">Buy now</button>-->
<!--        <div class="backdrop is-hidden" data-modal>-->
<!--          <div class="modal">-->
<!--            <button data-modal-close="" class="elipse-cross">-->
<!--              <svg class="cross">-->
<!--                <use href=""></use></svg>-->
<!--            </button>-->
<!--            <form class="form_modal" autocomplete="on">-->
<!--              <h2 class="modal_title">Place your order</h2>-->
<!--              <div class="modal_name">-->
<!--                <label for="name" class="name_modal">Name</label>-->
<!--                <input type="text" name="name" id="name" class="modal-name">-->
<!--                <svg class="name-icon">-->
<!--                  <use href=""></use>-->
<!--                </svg>-->
<!--              </div>-->
<!--              <div class="modal_tel">-->
<!--                <label for="tel" class="name_modal">Phone</label>-->
<!--                <input type="tel" name="tel" id="tel" class="modal-name">-->
<!--                <svg class="tel-icon">-->
<!--                  <use href=""></use>-->
<!--                </svg>-->
<!--              </div>-->
<!--              <div class="modal_mail">-->
<!--                <label for="mail" class="name_modal">E-mail</label>-->
<!--                <input type="mail" name="mail" id="mail" class="modal-name">-->
<!--                <svg class="email-icon">-->
<!--                  <use href=""></use>-->
<!--                </svg>-->
<!--              </div>-->
<!--              <div class="modal_comment">-->
<!--                <label for="comment" class="name_modal">Comment</label>-->
<!--                <textarea name="comment" id="comment" placeholder="Texting..." class="modal-comment"></textarea>-->
<!--              </div>-->
<!--              <button type="submit" class="submit">Send</button>-->
<!--            </form>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </nav>
  </div>
</header>
</section>
