<section class="hero">
    <div class="container">
       <div class="hero__position-1">
        <div class="hero__ice-cream">
            <h1 class="hero__titel"> ice cream <br>made with <br>
                <span class="hero__titel-text">passion</span>
            </h1>
            <button class="hero__btn-products">Products</button>
            <button class="hero__btn-how">How it’s made?</button>
        </div>
        <div class="hero__cafe">
            <ul class="cafe-list list">
                <li class="cafe-list__item">
                    16
                    <span class="cafe-list__item-text">cafes</span>
                </li>
                <li class="cafe-list__item">
                    23
                    <span class="cafe-list__item-text">food trucks</span>
                </li>
            </ul>
        </div>
       </div>
       
        <div class="hero__position-2">
            <div class="hero__milk">
                <span class="hero__milk-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et
                </span>
                <button class="hero__btn-arrow-right">
                </button>
            </div>
        </div>
        
       
    </div>
    

</Section>