<section class="hero-wrap">
    <div class="hero container">
    
               <div class="hero__position-1">
        <div class="hero__ice-cream">
            <h1 class="hero__titel"> ice cream <br>made with <br>
                <span class="hero__titel-text">passion</span>
            </h1>
            <ul class="list title-btn-list">
                <li><a href="#prod-ice" class="hero__btn-products">Products</a></li>
                <li><a href="#about" class="hero__btn-how">How it’s made?</a></li>
            </ul>
        </div>
        <div class="hero__cafe">
            <ul class="cafe-list list">
                <li class="cafe-list__item">
                    16
                    <span class="cafe-list__item-text">cafes</span>
                </li>
                <li class="cafe-list__item">
                    23
                    <span class="cafe-list__item-text">food trucks</span>
                </li>
            </ul>
        </div>
       </div>
       
        <div class="hero__position-2">
            <div class="hero__milk">
                <span class="hero__milk-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et
                </span>
                <button class="hero__btn-arrow-right">
                </button>
            </div>
        </div>
        
           <picture class="ice-cream-img">
            <source srcset=
                "/src/images/slider-pic7-mobile.png 1x,
                /src/images/slider-pic7-mobile-2x.png 2x" 
                media="(max-width: 767px)" />
            <source srcset=
                    "/src/images/slider-pic7-desktop.png 1x,
                     /src/images/slider-pic7-desktop-2x.png 2x" 
                     media="(min-width: 1200px)" />
            <source srcset=
                "/src/images/slider-pic7-tablet.png 1x,
                /src/images/slider-pic7-table2x.png 2x" 
                media="(min-width: 768px)" />
            <img src="/src/images/slider-pic7-desktop.png" alt="мороженное">
        </picture>
        <picture class="milk-img">
            <source 
            srcset=
                "/src/images/slider-pic5-tablet.png 1x,
                /src/images/slider-pic5-tablet-2x.png 2x" 
                media="(max-width: 1199px)"/>
            <source srcset=
                "/src/images/slider-pic5-desktop.png 1x,
                 /src/images/slider-pic5-desktop-2x.png 2x"
                  media="(min-width: 1200px)"/>
            <img  src="/src/images/slider-pic5-desktop.png" alt="молоко">
        </picture>
        <picture class="girl-img">
            <source srcset=
                    "/src/images/slider-pic4-tablet.png 1x,
                    /src/images/slider-pic4-tablet-2x.png 2x"
                     media="(max-width: 1199px)" />
            <source srcset=
                    "/src/images/slider-pic4-desktop.png 1x,
                    /src/images/slider-pic4-desktop-2x.png 2x" 
                    media="(min-width: 1200px)" />

            <img src="/src/images/slider-pic4-desktop.png" alt=" девушка ест мороженное">
        </picture>
    </div>
    

</Section>