<section id="prod-ice" class="products">
    <div class="products-container container">
        <h3 class="prod-title-natural">100% natural</h3>
        <h2 class="prod-title">products</h2>
        <ul class="products-list">
            <li class="products-list__contain crem">
                <div class="products-list__cream">
                    <h4 class="prod-title__list ">ice cream</h4>
                    <p class="prod-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <button type="button" class="products__btn-arrow-right">
                    </button>
                </div>
            </li>
            <li class="products-list__contain coffee">
                <div class="products-list__coffee">
                    <h4 class="prod-title__list ">ice coffee</h4>
                    <p class="prod-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <button type="button" class="products__btn-arrow-right">
                    </button>
                </div>
            </li>
            <li class="products-list__contain milkshakes">
                <div class="products-list__milkshakes">
                    <h4 class="prod-title__list ">milkshakes</h4>
                    <p class="prod-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <button type="button" class="products__btn-arrow-right">
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>