<section id="prod-ice" class="products">
    <div class="products-container container">
        <p class="prod-title-natural">100% natural</p>
        <h2 class="prod-title">products</h2>
        <ul class="products-list">
            <li class="products-list__contain crem">
                    <h3 class="prod-title__list ">ice cream</h3>
                    <p class="prod-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <button type="button" class="products__btn-arrow-right button" prod-modal-open-cream>
                    </button>
            </li>
            <li class="products-list__contain coffee">
                    <h3 class="prod-title__list ">ice coffee</h3>
                    <p class="prod-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <button type="button" class="products__btn-arrow-right button " prod-modal-open-coffee>
                    </button>
            </li>
            <li class="products-list__contain milkshakes">
                    <h3 class="prod-title__list ">milkshakes</h3>
                    <p class="prod-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <button type="button" class="products__btn-arrow-right button" prod-modal-open-milkshakes>
                    </button>
            </li>
        </ul>
    </div>

    <div class="products-backdrop prod-cream" prod-modal-cream>
        <div class="products-modal-cream">
            <button type="button" class="products-modal-close-btn" prod-modal-close-cream>
                <svg class=" cross" width="18" height="18">
                    <use class="icon-cross" href="./images/symbol-defs.svg#products-icon-close"></use>
                </svg>
            </button>
            <h4 class="products-prod-title__list">ice cream</h4>
            <div class="products-modal-form">
                <p class="products-modal-titel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum tempore aspernatur reprehenderit, labore suscipit soluta aperiam perspiciatis asperiores harum doloribus, rem dolore assumenda reiciendis officiis laborum molestiae optio odio consectetur.
                Illum architecto repudiandae nemo tempora dicta quasi voluptatem sed autem ea doloremque voluptatibus quae repellendus. </p>
                <button type="submit" class="products-button">замовити</button>
            </div>
        </div>
    </div>

    <div class="products-backdrop prod-coffee" prod-modal-coffee>
        <div class="products-modal-coffee">
            <button type="button" class="products-modal-close-btn" prod-modal-close-coffee>
                <svg class=" cross" width="18" height="18">
                    <use class="icon-cross" href="./images/symbol-defs.svg#products-icon-close"></use>
                </svg>
            </button>
            <h4 class="products-prod-title__list">ice cream</h4>
            <div class="products-modal-form">
                <p class="products-modal-titel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum tempore aspernatur reprehenderit, labore suscipit soluta aperiam perspiciatis asperiores harum doloribus, rem dolore assumenda reiciendis officiis laborum molestiae optio odio consectetur.
                Illum architecto repudiandae nemo tempora dicta quasi voluptatem sed autem ea doloremque voluptatibus quae repellendus. </p>
                <button type="submit" class="products-button">замовити</button>
            </div>
        </div>
    </div>

    <div class="products-backdrop prod-milkshakes" prod-modal-milkshakes>
        <div class="products-modal-milkshakes">
            <button type="button" class="products-modal-close-btn" prod-modal-close-milkshakes>
                <svg class=" cross" width="18" height="18">
                    <use class="icon-cross" href="./images/symbol-defs.svg#products-icon-close"></use>
                </svg>
            </button>
            <h4 class="products-prod-title__list">ice cream</h4>
            <div class="products-modal-form">
                <p class="products-modal-titel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum tempore aspernatur reprehenderit, labore suscipit soluta aperiam perspiciatis asperiores harum doloribus, rem dolore assumenda reiciendis officiis laborum molestiae optio odio consectetur.
                Illum architecto repudiandae nemo tempora dicta quasi voluptatem sed autem ea doloremque voluptatibus quae repellendus. </p>
                <button type="submit" class="products-button">замовити</button>
            </div>
        </div>
    </div>
</section>

<script src="./products.js"></script>