<section id="prod-ice" class="products">
    <div class="products-container container">
        <h3 class="prod-title-natural">100% natural</h3>
        <h2 class="prod-title">products</h2>
        <ul class="products-list">
            <li class="products-list__contain">
                <div class="products-list__cream">
                    <!-- <div class="product-img-block">
                        <picture>
                        <source srcset=" ./images/products-pic1-desktop.png 1x,  ./images/products-pic1-desktop-2x.png 2x" media="(min-width: 1200px)"/>
                        <source srcset=" ./images/products-pic1-tablet.png 1x,  ./images/products-pic1-tablet-2x.png 2x" media="(min-width: 768px)"/>
                        <source srcset=" ./images/products-pic1-mobile.png 1x ,  ./images/products-pic1-mobile-2x.png 2x" media="(min-width: 320px)"/> 
                        <img class="product-img" src=" ./images/products-pic1-desktop.png" alt=""/>
                        </picture>
                    </div> -->
                    <h4 class="prod-title__list crem">ice cream</h4>
                    <p class="prod-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <button type="button" class="products__btn-arrow-right">
                    </button>
                </div>
            </li>
            <li class="products-list__contain">
                <div class="products-list__coffee">
                    <!-- <picture>
                        <source srcset=" ./images/products-pic2-desktop.png 1x,  ./images/products-pic2-desktop-2x.png 2x" media="(min-width: 1200px)"/>
                        <source srcset=" ./images/products-pic2-tablet.png 1x,  ./images/products-pic2-tablet-2x.png 2x" media="(min-width: 768px)"/>
                        <source srcset=" ./images/products-pic2-mobile.png 1x ,  ./images/products-pic2-mobile-2x.png 2x" media="(min-width: 320px)"/> 
                        <img class="product-img" src=" ./images/products-pic2-desktop.png" alt=""/>
                    </picture> -->
                    <h4 class="prod-title__list coffee">ice coffee</h4>
                    <p class="prod-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <button type="button" class="products__btn-arrow-right">
                    </button>
                </div>
            </li>
            <li class="products-list__contain">
                <div class="products-list__milkshakes">
                    <!-- <picture>
                        <source srcset=" ./images/products-pic3-desktop.png 1x,  ./images/products-pic3-desktop-2x.png 2x" media="(min-width: 1200px)"/>
                        <source srcset=" ./images/products-pic3-tablet.png 1x,  ./images/products-pic3-tablet-2x.png 2x" media="(min-width: 768px)"/>
                        <source srcset=" ./images/products-pic3-mobile.png 1x ,  ./images/products-pic3-mobile-2x.png 2x" media="(min-width: 320px)"/> 
                        <img class="product-img" src=" ./images/products-pic3-desktop.png" alt=""/>
                    </picture> -->
                    <h4 class="prod-title__list milkshakes">milkshakes</h4>
                    <p class="prod-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <button type="button" class="products__btn-arrow-right">
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>