.about{
  background-color: #FFF5F6;
  padding-top: 60px;
  list-style: none;
  text-decoration: none;
  &-section{
    @media screen and (min-width: 768px) {
      margin-left: 12px;
      margin-right: 12px;
      }
    @media screen and (min-width: 1200px) {
      margin-left: -4px;
      margin-right: -4px;
    }
  }
  &-hero{
    padding-bottom: 15px;

    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFA5BA;
    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 30px;
      padding-bottom: 16px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 30px;
      line-height: 34px;
    }
  }
  &-question{
    padding-bottom: 32px;

    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
    @media screen and (min-width: 768px) {
      font-size: 48px;
      line-height: 55px;
      letter-spacing: 0.04em;
      padding-bottom: 40px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 58px;
      line-height: 66px;
      padding-bottom: 60px;
    }
  }
}
.activity{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  text-decoration: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-end
  }
  &-jpg{
    @media screen and (min-width: 1200px) {
      padding-bottom: 60px;
    }
  }
  &-item {
    width: 280px;
    height: 133 pxd;
    @media screen and (max-width: 767px) {
      //background-color: tomato;
      background-image: url(../images/about-bg-desktop.png);
      //background-size: contain;
      background-size: cover;
    }


    @media screen and (min-width: 768px) {
      margin-left: 32px;
      width: 334px;
      //display: none;
      //background-color: rebeccapurple;
    }
    @media screen and (min-width: 1200px) {
      width: 501px;
      padding-left: 99px;
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx){
      background-image:
        url(../images/about-bg-mobile.png);
    }
  }
  //&-milc{
  //  width: 280px;
  //  height: 133pxd;
  //
  //  @media screen and (min-device-pixel-ratio: 2),
  //  screen and (min-resolution: 192dpi),
  //  screen and (min-resolution: 2dppx){
  //    background-image:
  //      url(../images/about-bg-desktop.png);
  //  }
  //
  //  @media screen and (min-device-pixel-ratio: 2),
  //  screen and (min-resolution: 192dpi),
  //  screen and (min-resolution: 2dppx){
  //    background-image:
  //      url(../images/about-bg-mobile.png);
  //  }
  //}
  &-text{
    padding-bottom: 40px;
    width: 220px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 162%;
    color: #000000;
    @media screen and (min-width: 768px) {
    width: 334px;
      font-size: 14px;
    }
    @media screen and (min-width: 1200px) {
      width: 463px;
      font-size: 16px;
    }
  }
  &-taitle{
    padding-bottom: 20px;
    width: 220px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 162%;
    color: #907E82;
    @media screen and (min-width: 768px) {
      width: 334px;
      font-size: 14px;
      padding-bottom: 40px;
    }
    @media screen and (min-width: 1200px) {
      width: 463px;

    }
  }
  &-taitle-span{
    margin-top: 20px;
  }
  &-button{
    margin-bottom: 40px;
    width: 176px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 37px;
    padding-right: 37px;


    color: #D41443;
    background: #FFFFFF;
    border-radius: 22px;
    border-color:rgba(0, 0, 0, 0.0);
    @media screen and (min-width: 1200px) {
    margin-bottom: 121px;
    }
  }
  &-svg{
    fill: tomato;
    //background-color: #d41443;
    color: #d41443;

  }
}
.about-information{
  display: flex;
  justify-content: flex-start;
  @media screen and (min-width: 768px) {
    margin-left: 12px;
    margin-right: 12px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: -4px;
    margin-right: -4px;
  }
  &_section{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    @media screen and (min-width: 768px) {
  display: flex;
    }
  }
  &_imet{
    @media screen and (min-width: 768px) {
      width: 180px;
      margin-right: 4px;
    }
    @media screen and (min-width: 1200px) {
      width: 288px;
      margin-right: 80px;
    }
  }
  &_imet-left{
    @media screen and (min-width: 1200px) {
      margin-left: 35px;
      width: 317px;
    }
  }
  &_item{
    fill: #FFA5BA;
    margin-bottom: 16px;
    @media screen and (min-width: 768px) {
      margin-bottom: 36px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 40px;
    }
  }
  &_icon{

  }
  &_subject{
    width: 98px;
    height: 56px;
    padding-bottom: 4px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
    @media screen and (min-width: 768px) {
      margin-bottom: 13px;
      font-size: 48px;
      line-height: 55px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 16px;
      font-size: 58px;
      line-height: 66px;
    }
  }
  &_text{
    padding-bottom: 87px;
    width: 230px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 170%;
    color: #000000;
    @media screen and (min-width: 768px) {
      width: 180px;
      font-size: 14px;
      padding-bottom: 251px;
    }
    @media screen and (min-width: 1200px) {
      width: 288px;
      font-size: 16px;
      line-height: 176%;
      letter-spacing: 0.02em;
      padding-bottom: 209px;
    }
  }
  &_text-width{
    @media screen and (min-width: 1200px) {
      width: 317px;
    }
  }
}
.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  //outline:1px solid red;
  @media screen and (min-width: 320px) {
    width: 320px;
  }
  @media screen and (min-width: 768px) {

    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
