.advantages {
  background-color: #FFF5F6;;
  padding-top: 60px;
  list-style: none;
  text-decoration: none;
 }
  .Group::before {
    content: url(../images/Group1x.png);
      display: inline-block;
      width: 50px;
      height: 50px;
      margin-bottom: 17px;
    }

    .apple::before {
      content: url(../images/apple1x.png);
        display: inline-block;
        width: 50px;
        height: 50px;
        margin-bottom: 17px;
      }

      .Vector::before {
        content: url(../images/Vector1x.png);
          display: inline-block;
          width: 50px;
          height: 50px;
          margin-bottom: 17px;
        }

        .about-information_icon {

          fill: #FFA5BA;
          margin-bottom: 16px;
          @media screen and (min-width: 768px) {
            margin-bottom: 36px;
          }
          @media screen and (min-width: 1200px) {
            margin-bottom: 40px;
          }
        }

        .about-information_imet:not(:last-child) {
          margin-bottom: 32px;
        }

        .about-information {

          list-style: none;
          text-decoration: none;
          padding-left: 0;
          margin: 0 auto;
          @media screen and (min-width: 768px) {
            display: flex;
            margin: 0;
            margin-left: 12px;
            margin-right: 12px;
          }
          @media screen and (min-width: 1200px) {
            margin-left: -4px;
            margin-right: -4px;
          }


          &_imet-left {
            @media screen and (min-width: 768px) {
              width: 162px;
              margin-right: 22px;
            }
            @media screen and (min-width: 1200px) {
              margin-left: 115px;
              margin-right: 80px;
              width: 317px;
            }
          }

            &_item {
              fill: #FFA5BA;
              margin-bottom: 16px;
              @media screen and (min-width: 768px) {
                margin-bottom: 36px;
              }
              @media screen and (min-width: 1200px) {
                margin-bottom: 40px;
              }
            }

            &_subject {
              margin-bottom: 20px;
              font-family: 'Titan One';
              font-style: normal;
              font-weight: 400;
              font-size: 36px;
              line-height: 41px;
              letter-spacing: 0.04em;
              text-transform: uppercase;
              color: #D41443;
              @media screen and (min-width: 768px) {
                margin-bottom: 13px;
                font-size: 48px;
                line-height: 55px;
              }
              @media screen and (min-width: 1200px) {
                margin-bottom: 16px;
                font-size: 58px;
                line-height: 66px;
              }
            }

            &_text {
              width: 230px;
              font-family: 'DM Sans';
              font-style: normal;
              font-weight: 700;
              font-size: 12px;
              line-height: 170%;
              color: #000000;
              @media screen and (min-width: 768px) {
                width: 180px;
                font-size: 14px;
                line-height: 174%;
              }
              @media screen and (min-width: 1200px) {
                width: 288px;
                font-size: 16px;
                line-height: 176%;
                letter-spacing: 0.02em;
              }
            }

            &_text-width {
              @media screen and (min-width: 768px) {
                width: 162px;
              }
              @media screen and (min-width: 1200px) {
                width: 317px;
              }
            }

            &_left-width {
              @media screen and (min-width: 768px) {
                width: 159px;
              }
              @media screen and (min-width: 1200px) {
                width: 288px;
              }
            }
          }

