.contacts {
    background-image: linear-gradient(to bottom,
            #FFFFFF 23%,
            #FFF5F6 23%);
    padding-top: 40px;
    padding-bottom: 40px;

    @include tablet {
        background-image: linear-gradient(to bottom,
                #ffffff 45%,
                #fff5f6 45%, );
    }

    @include desktop {
        background-image: linear-gradient(to bottom,
                #ffffff 20%,
                #fff5f6 20%, );


        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.contacts__contacts-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        display: flex;
        flex-direction: row;
        column-gap: 32px;
    }

    @include desktop {
        display: flex;
        flex-direction: row;
        column-gap: 32px;
    }
}

.contacts__card:not(:last-child) {
    margin-bottom: 19px;

    @include tablet {
        margin-bottom: 0;
    }

    @include desktop {
        margin-bottom: 0;
    }
}

.contacts__card-bg {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    margin-left: 0;
    margin-right: 0;
    padding: 40px 32px;

    @include screen-320-479px {
        padding: 24px 20px;
    }

    @include mobile {
        max-width: 280px;
    }

    @include tablet {
        max-width: 224px;
    }

    @include desktop {
        max-width: 368px;
    }
}

.contacts__office-cafe {
    display: inline-block;
    background-color: $backgraund-ice-color;
    border-radius: 6px;
    margin-bottom: 20px;

    @include tablet {
        margin-bottom: 32px;
    }

    @include desktop {
        margin-bottom: 32px;
    }
}

.contacts__office-foodtrack {
    display: inline-block;
    background-color: $backgraund-ice-third-color;
    border-radius: 6px;
    margin-bottom: 20px;

    @include tablet {
        margin-bottom: 32px;
    }

    @include desktop {
        margin-bottom: 32px;
    }
}

.contacts__office-style {

    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1, 86;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;

    @include tablet {
        font-size: 16px;
    }

    @include desktop {
        font-size: 16px;
    }
}

.contacts__header {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    color: $first-text-color;

    @include tablet {
        font-size: 14px;
    }

    @include desktop {
        font-size: 16px;
    }
}

.contacts__address-style {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: $second-text-color;
    margin-top: 8px;
    padding-bottom: 24px;

    @include tablet {
        font-size: 14px;
        padding-bottom: 32px;
    }

    @include desktop {
        font-size: 16px;
        padding-bottom: 32px;
    }
}

.contacts__schedule {
    border-top: 1px solid rgba(225, 225, 225, 1);
    border-bottom: 1px solid rgba(225, 225, 225, 1);
    padding-top: 24px;

    @include tablet {
        padding-top: 32px;
    }

    @include desktop {
        padding-top: 32px;
    }
}

.contacts__time-style {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    color: $hero-elipce-color;

    @include tablet {
        font-size: 14px;
    }

    @include desktop {
        font-size: 16px;
        margin-bottom: 12px;
    }

    &:last-child {
        margin-bottom: 24px;

        @include tablet {
            margin-bottom: 32px;
        }

        @include desktop {
            margin-bottom: 32px;
        }
    }
}

.contacts__callback {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    padding-inline-start: 0;

    @include tablet {
        padding-top: 32px;
    }

    @include desktop {
        padding-top: 32px;
    }
}

.contacts__callback-style {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    text-decoration: none;
    color: $second-text-color;

    @include tablet {
        font-size: 14px;
    }

    @include desktop {
        font-size: 16px;
    }

    &:hover,
    &:focus {
        color: $title-text-color;
    }
}

.contacts__buttons-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline-start: 0;
    padding-top: 33px;
    padding-bottom: 40px;

    @include tablet {
        display: flex;
        flex-direction: row;
    }

    @include desktop {
        display: flex;
        flex-direction: row;
    }
}

.contacts__location-button {
    height: 44px;
    border-radius: 22px;
    border: none;
    background-color: rgba(212, 19, 66, 1);
    margin-bottom: 10px;
  cursor: pointer;

    @include tablet {
        margin-bottom: 0;
        margin-right: 12px;
    }

    @include desktop {
        margin-bottom: 0;
        margin-right: 12px;
    }
}

.contacts__location-button-items-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts__location-button-text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: rgba(255, 255, 255, 1);
    margin-left: 17px;

    @include tablet {
        margin-left: 35px;
    }

    @include desktop {
        margin-left: 35px;
    }
}

.contacts__location-button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4px;
    height: 8px;
    fill: rgba(255, 255, 255, 1);
    margin-left: 13px;
    margin-right: 17px;

    @include tablet {
        margin-right: 35px;
    }

    @include desktop {
        margin-right: 35px;
    }
}

.contacts__franchise-button {
    height: 44px;
    background-color: #FFFFFF;
    border-radius: 22px;
    border: none;
  cursor: pointer;
  &:hover{
    background-color: #ECEBEB;
  }
  &:focus{
    background-color: #ECEBEB;
  }
}

.contacts__franchise-button-text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: rgba(212, 20, 67, 1);
    margin-left: 17px;

    @include tablet {
        margin-left: 35px;
    }

    @include desktop {
        margin-left: 35px;
    }
}

.contacts__franchise-button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4px;
    height: 8px;
    fill: rgba(212, 20, 67, 1);
    margin-left: 13px;
    margin-right: 17px;

    @include tablet {
        margin-right: 35px;
    }

    @include desktop {
        margin-right: 35px;
    }
}