.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 0;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.review__title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 150px;
  background: repeating-linear-gradient(
    white,
    white 30px,
    #e1e1e1 32px,
    #e1e1e1 20px
  );
  background-repeat: no-repeat;
}

.review__title::before {
  content: '';
  background-image: url(/src/images/marks.svg);
  display: block;
  width: 54px;
  height: 40px;
  position: absolute;
}

.review__name::after {
  content: '';
  background-image: url(/src/images/House.svg), url(/src/images/Ellipse.svg),
    url(/src/images/Ellipse.svg);
  width: 12px;
  height: 12px;
  display: block;
}

.review__picture {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 32px;
}

.review__name {
  text-align: center;
}
