.gallery {
    max-width: 320px;
    height: 136px;
    margin-left: auto;
    margin-right: auto;

    background-color: #e5e5e5;
    background-image: linear-gradient(to bottom,
            #fff5f6 20%,
            #ffffff),
        url(/src/images/gallery-mobile.png);


    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include retina {
        background-color: #e5e5e5;
        background-image: linear-gradient(to bottom,
                #fff5f6 20%,
                #ffffff),
            url(/src/images/gallery-mobile-2x.png);
    }

    @include tablet {

        max-width: 768px;
        height: 327px;

        background-color: #e5e5e5;
        background-image: linear-gradient(to bottom,
                #fff5f6 50%,
                #ffffff),
            url(/src/images/gallery-tablet.png);

        @include retina {
            background-color: #e5e5e5;
            background-image: linear-gradient(to bottom,
                    #fff5f6 50%,
                    #ffffff),
                url(/src/images/gallery-tablet-2x.png);

        }
    }

    @include desktop {
        max-width: 1013px;
        height: 430px;
        padding-left: 94px;
        padding-right: 94px;

        background-color: #e5e5e5;
        background-image: linear-gradient(to bottom,
                #fff5f6 20%,
                #ffffff),
            url(/src/images/gallery-desktop.jpg);


        @include retina {
            background-color: #e5e5e5;
            background-image: linear-gradient(to bottom,
                    #fff5f6 20%,
                    #ffffff),
                url(/src/images/gallery-desktop-2x.jpg);
        }


    }


}