.gallery {
    padding-top: 60px;
    padding-bottom: 60px;

    margin-left: auto;
    margin-right: auto;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-color: #e5e5e5;
    background-image: linear-gradient(to bottom,
            #fff5f6 35%,
            #ffffff 35%);

    @include tablet {
        background-image: linear-gradient(to bottom,
                #fff5f6 55%,
                #ffffff 55%);
    }

    @include desktop {
        padding: 120px 0;
        background-image: linear-gradient(to bottom,
                #fff5f6 31%,
                #ffffff 31%);
    }
}

.container-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    @include mobile {
        width: 100%;
    }

    @include desktop {
        padding-right: 94px;
        padding-left: 94px;
    }


}



.gallery__img {
    @media screen-320-479px {
        width: 320px;
        height: 136px;
    }

    @include tablet {
        width: 768px;
        height: 327px;
    }

    @include desktop {
        width: 1013px;
        height: 430px;
    }
}