.gallery {
    padding-top: 60px;
    padding-bottom: 60px;

    margin-left: auto;
    margin-right: auto;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-color: #e5e5e5;
    background-image: linear-gradient(to bottom,
            #fff5f6 20%,
            #ffffff);

    @include tablet {
        background-image: linear-gradient(to bottom,
                #fff5f6 50%,
                #ffffff);
    }

    @include desktop {
        padding: 120px 94px;
        background-image: linear-gradient(to bottom,
                #fff5f6 20%,
                #ffffff);
    }
}

.gallery__container {
    padding: 0;
}

.gallery__img {
    @media screen-320-479px {
        width: 320px;
        height: 136px;
    }

    @include tablet {
        width: 768px;
        height: 327px;
    }

    @include desktop {
        width: 1013px;
        height: 430px;
    }
}