/*Basic*/
body {
    &.modal-open {
      overflow-y: hidden;
    }
  }
  
  a {
    text-decoration: none;
  }
  li {
    list-style-type: none;
  }
  button {
    border: none;
  }
textarea {
    resize: none;
  }

.page-header__container {
 display: flex;
 position: absolute;
 z-index: 4;
 left: 0;
 right: 0;
 @media screen and (max-width: 320px) {
  min-height: 0;
 }
}
.page-header__nav {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding-top: 37px;
 @media screen and (max-width: 768px) {
  padding-top: 32px;
 }
 @media screen and (max-width: 320px) {
  padding-top: 8px;
}
}
.logo-group {
    @media screen and (min-width: 1200px) {
      margin-right: 128px;
    }
    @media screen and (max-width: 320px) {
      padding-right: 0;
    }
}
.logo {
    fill: #D41443;
}
.page-header__logo {
 font-family: Titan One;
 font-weight: 400;
 font-size: 38px;
 line-height: 44px;
 letter-spacing: 0.04em;
 text-transform: uppercase;
 font-style: normal;
 color: #D41443;
 margin-right: 128px;
}


.site-nav-list {
 display: flex;
 column-gap: 35px;
 align-items: center;
 padding: 0;
 @media screen and (max-width: 1199px) {
  display: block;
  padding: 0;
  margin: 0;
  width: 254px;
  .site-nav-list__item {
    border-top: 1px solid #E18298;
    border-bottom: 1px solid #E18298;
    padding-left: 20px;
    padding-top: 12px;
    height: 42px;
    margin-right: 0;
  }
 }
 @media screen and (max-width: 768px) {
  display: block;
  padding: 0;
  margin: 0;
  width: 254px;
  .site-nav-list__item {
    border-top: 1px solid #E18298;
    border-bottom: 1px solid #E18298;
    padding-left: 20px;
    padding-top: 12px;
    height: 42px;
    margin-right: 0;
  }
 }
 @media screen and (max-width: 320px) {
  display: block;
  padding: 0;
  margin: 0;
  width: 250px;
  .site-nav-list__item {
    border-top: 1px solid #E18298;
    border-bottom: 1px solid #E18298;
    padding-left: 20px;
    padding-top: 12px;
    height: 42px;
    margin-right: 0;
  }
 }
}

.site-nav-list__link-link {
 color: #D41443;
 font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover, :focus{
   color: #D41443;
  }
}
.site-nav-list__link {
 font-family: 'DM Sans';
 font-style: normal;
 font-weight: 700;
 font-size: 16px;
 line-height: 1.31;
 align-items: center;
 color: #ffffff;
 margin-top: 52px;
 transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
 &:hover, :focus{
  color: #D41443;
 }
 @media screen and (max-width: 1200px) {
  font-size: 14px;
  line-height: 1.28;
  @media screen and (max-width: 320px) {
    font-size: 14px;
    line-height: 1.28;
   }
 }
}
.btn {
 background-color: #FFFFFF;
 width: 160px;
 height: 44px;
 color: #D41443;
 cursor: pointer;
 border-radius: 22px; 
 font-family: 'DM Sans';
 font-style: normal;
 font-weight: 700;
 font-size: 16px;
 display: flex;
 align-items: center;
 justify-content: center;
 line-height: 1.3;
 cursor: pointer;
 transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);


 @media screen and (max-width: 768px) {
  width: 186px;
  margin-bottom: 20px;
  margin-top: 58px;
 }
 @media screen and (max-width: 320px) {
  width: 209px;
 }
  &:hover, :focus {
    background-color: #ECEBEB;
    transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.btn__block {
  padding-left: 141px;
  cursor: pointer;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  @media screen and (max-width: 1199px) {
    padding-left: 0;
    margin-top: 58px;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 768px) {
    margin-top: 0;
  }
  @media screen and (max-width: 320px) {
    padding-left: 0;
  }
}
.arrow {
  margin-left: 12px;
  @media screen and (max-width: 768px) {
    margin-left: 14px;
  }
  @media screen and (max-width: 320px) {
    margin-left: 14px;
  }
}
.arrow-icon {
  fill: $primary-text-color;
}
.btn-tablet {
  display: none;
  opacity: 0;
  @media screen and (max-width: 1199px) {
    margin-left: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: $backgraund-about-color;
    width: 159px;
    height: 44px;
    color: #D41443;
    border-radius: 22px; 
    opacity: 1;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
  }
  @media screen and (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: $backgraund-about-color;
    width: 159px;
    height: 44px;
    color: #D41443;
    border-radius: 22px; 
    opacity: 1;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }

}
.burger {
    background-color: #FFB8CA;
    @media screen and (max-width: 1199px) {
    margin-left: auto;
    }
}
.close {
  fill: $backgraund-about-color;

}

/* Mobill-Tablet */
.menu-btn {
 display: none;
 @media screen and (max-width: 1199px) {
  display: flex;
  margin-left: 293px;
  padding: 0;
  border: none;
  & .icon-cross {
    display: none;
  }
  &.is-open .burger {
    z-index: 991;
  cursor: pointer;
   width: 14px;
   height: 14px;
   background-color: $model-color;
   position: fixed;
   top: 20;
   right: 32;
  }
  &.is-open .icon-cross{
    display: block;
  }

  &.is-open .icon-menu {
    display: none;
  }
}
 @media screen and (max-width: 768px) {
   z-index: 991;
   display: flex;
   margin-left: auto;
   padding: 0;
   border: none;
   & .icon-cross {
     display: none;
   }
   &.is-open .burger {
    cursor: pointer;
    width: 14px;
    height: 14px;
    background-color: $model-color;
    position: fixed;
    left: 735px;
    top: 20px;
   }
   &.is-open .icon-cross{
     display: block;
   }

   &.is-open .icon-menu {
     display: none;
   }
 }
 @media screen and (max-width: 320px) {
  z-index: 991;
  display: flex;
  padding: 0;
  border: none;
  cursor: pointer;
  & .icon-cross {
    display: none;
  }
  &.is-open .burger {
    cursor: pointer;
   width: 14px;
   height: 14px;
   background-color: $model-color;
   position: fixed;
   left: 317px;
   top: 20px;
   left: 285px;
   right: 20px;
  }
  &.is-open .icon-cross{
    display: block;
  }

  &.is-open .icon-menu {
    display: none;
  }
}
}

.mobile-menu-thumb {
 display: flex;
 justify-content: space-between;
 flex-direction: row-reverse;
 align-items: center;
 transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 @media screen and (max-width: 1199px) {
  position: fixed;
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   position: absolute;
   top: 0;
   transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
   transform: translateX(100%);
   &.is-open {
     display: flex;
     justify-content: flex-start;
     position: fixed;
     opacity: 1;
     visibility: visible;
     pointer-events: fill;
     width: 254px;
     height: 100%;
     margin-left: auto;
     margin-right: auto;
     z-index: 900;
     right: 0;
     flex-direction: column;
     font-weight: 500;
     letter-spacing: 0.02em;
     background-color: $model-color;
     transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
     transform: translateX(0);
   }
 }
 @media screen and (max-width: 1199px) {
  position: fixed;
  justify-content: space-between;
 flex-grow: 1;
 align-items: center;
 transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 @media screen and (max-width: 768px) {
  position: fixed;
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   position: absolute;
   top: 0;
   transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
   transform: translateX(100%);
   &.is-open {
     display: flex;
     justify-content: flex-start;
     position: fixed;
     opacity: 1;
     visibility: visible;
     pointer-events: fill;
     width: 254px;
     height: 100%;
     margin-left: auto;
     margin-right: auto;
     z-index: 900;
     right: 0;
     flex-direction: column;
     font-weight: 500;
     letter-spacing: 0.02em;
     background-color: $model-color;
     transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
     transform: translateX(0);
   }
 }

 @media screen and (max-width: 768px) {
    position: fixed;
   justify-content: space-between;
   flex-grow: 1;
   align-items: center;
   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 @media screen and (max-width: 320px) {
  position: fixed;
  transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(100%);
  &.is-open {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    opacity: 1;
    visibility: visible;
    pointer-events: fill;
    width: 250px;
    height: 502px;
    margin-left: auto;
    margin-right: auto;
    z-index: 900;
    flex-direction: column;
    font-weight: 500;
    top: 0;
    right: 0;
    letter-spacing: 0.02em;
    background-color: $model-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(0);
  }
 }
}

/* MODAL */

.backdrop {
 position: fixed;
 width: 45%;
 height: 1024px;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
 z-index: 1000;
 transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
 opacity: 0;
 pointer-events: none;
}
.modal {
 position: relative;
 width: 528px;
 height: 581px;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
 background-color: $backgraund-about-color;
 border-radius: 15px;
 border:#D41443 1mm solid;
 @media screen and (max-width: 1199px) {
  width: 250px;
  height: 450px;
 }
}
.elipse-cross {
 width: 30px;
 height: 30px;
 margin-top: 8px;
 margin-left: 480px;
 margin-right: 8px;
 background: $model-color;
 border-radius: 50px;
 transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 &:hover {
  background: $primary-text-color;
 }
 @media screen and (max-width: 1199px) {
  margin-left: 200px;
 }
}
.elipse-cross-modal {
  display: none;
  @media screen and (max-width: 1199px) {
    display: block;
    background-color: $model-color;
    padding-bottom: 24px;
    padding-top: 20px;
    padding-left: 208px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (max-width: 320px) {
    display: block;
    background-color: $model-color;
    padding-bottom: 24px;
    padding-top: 20px;
    padding-left: 216px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

}
.cross-modal {
  fill: #D41443;
  cursor: pointer;
  width: 14px;
  height: 14px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
.cross {
cursor: pointer;
 fill: #D41443;
 width: 11px;
 height: 11px;
 transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__modal {
 display: flex;
 justify-content: center;
 flex-direction: column;
 flex-wrap: nowrap;
 align-items: center;
}
.modal__title {
 margin-bottom: 12px;
 text-align: center;
 color: #D41443;
 @media screen and (max-width: 1199px) {
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 400;
 }
}
.modal__name {
 display: flex;
 position: relative;
 flex-wrap: nowrap;
 flex-direction: column;
 align-items: flex-start;
 margin-top: 12px;
}
.name__modal {
 margin-bottom: 4px;
 color: $hero-elipce-color;
 @media screen and (max-width: 1199px) {
  font-size: 14px;
  font-weight: 400;
 }
}
.modal-name {
 padding-left: 15px;
 height: 40px;
 width: 448px;
 @media screen and (max-width: 1199px) {
  width: 230px;
  font-size: 12px;
  padding-left: 8px;
 }
}
.modal__tel {
 display: flex;
 position: relative;
 flex-wrap: nowrap;
 flex-direction: column;
 align-items: flex-start;
 margin-top: 10px;
}
.modal__mail {
 display: flex;
 position: relative;
 flex-wrap: nowrap;
 flex-direction: column;
 align-items: flex-start;
 margin-top: 10px;
}
.modal__comment {
 display: flex;
 flex-wrap: nowrap;
 flex-direction: column;
 align-items: flex-start;
 margin-top: 10px;
}
.modal-comment {
 color: #FFB8CA;
 padding-top: 12px;
 padding-left: 16px;
 width: 448px;
 height: 120px;
 @media screen and (max-width: 1199px) {
  width: 230px;
  height: 75px;
  font-size: 12px;
  font-weight: 400;
  padding-top: 6px;
  padding-left: 8px;
 }
}
.submit {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 200px;
 height: 50px;
 border-radius: 15px;
 background-color: $hero-elipce-color;
 margin-top: 30px;
 color: $backgraund-about-color;
 transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 cursor: pointer;
 &:hover {
  background-color: $model-color;
 }
 @media screen and (max-width: 1199px) {
  width: 100px;
  height: 25px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
 }
}
