
//.container {
//  margin-left: auto;
//  margin-right: auto;
//  padding-left: 15px;
//  padding-right: 15px;
//}
//.page-header__container {
//  display: flex;
//  min-height: 84px;
//  background-color: #FFB8CA;
//  padding-left: 15px;
//  padding-right: 15px;
//}
//.page-header__nav {
//  width: 100%;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  background-color: #FFB8CA;
//}
//.logo {
//  width: 48px;
//  height: 49px;
//  background-color: #D41443;
//  border-radius: 50%;
//  list-style: none;
//  margin-right: 20px;
//}
//.page-header__logo {
//  font-family: Titan One;
//  font-weight: 400;
//  font-size: 38px;
//  line-height: 44px;
//  letter-spacing: 0.04em;
//  text-transform: uppercase;
//  font-style: normal;
//  color: #D41443;
//  margin-right: 128px;
//}
//.site-nav-list {
//  display: flex;
//  align-items: center;
//  margin-right: 141px;
//}
//.site-nav-list :last-child {
//  margin-right: 0;
//}
//.site-nav-list__link-link {
//  margin-right: 35px;
//  color: #D41443;
//}
//.site-nav-list__item {
//  margin-right: 35px;
//}
//.site-nav-list__link {
//  font-family: 'DM Sans';
//  font-style: normal;
//  font-weight: 700;
//  font-size: 16px;
//  line-height: 21px;
//  align-items: center;
//  color: #ffffff;
//  margin-right: 35px;
//  margin-top: 52px;
//}
//.btn {
//  background-color: #FFFFFF;
//  width: 159px;
//  height: 44px;
//  color: #D41443;
//  border-radius: 22px;
//}
//.btn:hover {
//  background-color: #ECEBEB;
//}
//
///* Mobill-Tablet */
//.menu-btn {
//  display: none;
//  @media screen and (max-width: 767.5px) {
//    z-index: 991;
//    display: flex;
//    margin: 0;
//    padding: 0;
//    border: none;
//    background-color: #ECEBEB;
//    cursor: pointer;
//    & .icon-cross {
//      display: none;
//
//      &:hover .site-nav-list__link,
//      &:focus .site-nav-list__link {
//        color: #ECEBEB;
//      }
//    }
//
//    &.is-open .icon-cross {
//      display: block;
//    }
//
//    &.is-open .icon-menu {
//      display: none;
//    }
//  }
//}
//
//.mobile-menu-thumb {
//  display: flex;
//  justify-content: space-between;
//
//  @media screen and (max-width: 767.5px) {
//    display: none;
//    opacity: 0;
//    visibility: hidden;
//    pointer-events: none;
//
//    position: absolute;
//    top: 0;
//    left: 0;
//    &.is-open {
//      display: flex;
//      position: fixed;
//      opacity: 1;
//      visibility: visible;
//      pointer-events: fill;
//      width: 100%;
//      height: 100vh;
//
//      overflow-y: scroll;
//
//      padding: 48px 40px;
//      margin-left: auto;
//      margin-right: auto;
//      z-index: 900;
//
//      flex-direction: column;
//      // flex-grow: 2;
//      font-weight: 500;
//      letter-spacing: 0.02em;
//      background-color: #D41443;
//    }
//  }
//
//  @media screen and (min-width: 768px) {
//    justify-content: space-between;
//    flex-grow: 1;
//    align-items: center;
//  }
//}
//
///* MODAL */
//
//.backdrop {
//  position: fixed;
//  width: 100%;
//  height: 1024px;
//  left: 50%;
//  top: 50%;
//  transform: translate(-50%, -50%);
//  background: #D41443;
//  z-index: 1;
//  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//}
//.backdrop.is-hidden {
//  opacity: 0;
//  pointer-events: none;
//}
//.modal {
//  position: relative;
//  width: 528px;
//  height: 581px;
//  left: 50%;
//  top: 50%;
//  transform: translate(-50%, -50%);
//  background-color: #FFFFFF;
//}
//.elipse-cross {
//  width: 30px;
//  height: 30px;
//  margin-top: 8px;
//  margin-left: 490px;
//  margin-right: 8px;
//  background: #ECEBEB;
//}
//.cross {
//  fill: #D41443;
//  width: 11px;
//  height: 11px;
//  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//}
//.form__modal {
//  display: flex;
//  justify-content: center;
//  flex-direction: column;
//  flex-wrap: nowrap;
//  align-items: center;
//}
//.modal__title {
//  margin-bottom: 12px;
//  text-align: center;
//  color: #D41443;
//}
//.modal__name {
//  display: flex;
//  position: relative;
//  flex-wrap: nowrap;
//  flex-direction: column;
//  align-items: flex-start;
//  margin-top: 12px;
//}
//.name__modal {
//  margin-bottom: 4px;
//  color: #FFB8CA;
//}
//.modal-name {
//  padding-left: 42px;
//  height: 40px;
//  width: 448px;
//}
//.name-icon {
//  position: absolute;
//  width: 12px;
//  height: 12px;
//  fill: #D41443;
//  left: 15px;
//  top: 32px;
//}
//
//.modal__tel {
//  display: flex;
//  position: relative;
//  flex-wrap: nowrap;
//  flex-direction: column;
//  align-items: flex-start;
//  margin-top: 10px;
//}
//.tel-icon {
//  position: absolute;
//  width: 13px;
//  height: 13px;
//  fill: #D41443;
//  left: 15px;
//  top: 32px;
//  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//}
//.modal__mail {
//  display: flex;
//  position: relative;
//  flex-wrap: nowrap;
//  flex-direction: column;
//  align-items: flex-start;
//  margin-top: 10px;
//}
//
//.email-icon {
//  position: absolute;
//  width: 15px;
//  height: 12px;
//  fill: #D41443;
//  left: 15px;
//  top: 32px;
//}
//.modal__comment {
//  display: flex;
//  flex-wrap: nowrap;
//  flex-direction: column;
//  align-items: flex-start;
//  margin-top: 10px;
//}
//.modal-comment {
//  color: #FFB8CA;
//  padding-top: 12px;
//  padding-left: 16px;
//  width: 448px;
//  height: 120px;
//}
//.submit {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  width: 200px;
//  height: 50px;
//  border-radius: 15px;
//  background: #D41443;
//  margin-top: 30px;
//  color: #FFFFFF;
//}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header{
  position: absolute;
}
.page-header__container {
  display: flex;
  min-height: 84px;
  background-color: #FFB8CA;
  padding-left: 15px;
  padding-right: 15px;
}
.page-header__nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFB8CA;
}
.logo {
  width: 48px;
  height: 49px;
  background-color: #D41443;
  border-radius: 50%;
  list-style: none;
  margin-right: 20px;
}
.page-header__logo {
  font-family: Titan One;
  font-weight: 400;
  font-size: 38px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-style: normal;
  color: #D41443;
  margin-right: 128px;
}
.site-nav-list {
  display: flex;
  align-items: center;
  margin-right: 141px;
}
.site-nav-list :last-child {
  margin-right: 0;
}
.site-nav-list__link-link {
  margin-right: 35px;
  color: #D41443;
}
.site-nav-list__item {
  margin-right: 35px;
}
.site-nav-list__link {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  color: #ffffff;
  margin-right: 35px;
  margin-top: 52px;
}
.btn {
  background-color: #FFFFFF;
  width: 159px;
  height: 44px;
  color: #D41443;
  border-radius: 22px;
}
.btn:hover {
  background-color: #ECEBEB;
}

/* Mobill-Tablet */
.menu-btn {
  display: none;
  @media screen and (max-width: 767.5px) {
    z-index: 991;
    display: flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: #ECEBEB;
    cursor: pointer;
    & .icon-cross {
      display: none;

      &:hover .site-nav-list__link,
      &:focus .site-nav-list__link {
        color: #ECEBEB;
      }
    }

    &.is-open .icon-cross {
      display: block;
    }

    &.is-open .icon-menu {
      display: none;
    }
  }
}

.mobile-menu-thumb {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 767.5px) {
    display: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    position: absolute;
    top: 0;
    left: 0;
    &.is-open {
      display: flex;
      position: fixed;
      opacity: 1;
      visibility: visible;
      pointer-events: fill;
      width: 100%;
      height: 100vh;

      overflow-y: scroll;

      padding: 48px 40px;
      margin-left: auto;
      margin-right: auto;
      z-index: 900;

      flex-direction: column;
      // flex-grow: 2;
      font-weight: 500;
      letter-spacing: 0.02em;
      background-color: #D41443;
    }
  }

  @media screen and (min-width: 768px) {
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
  }
}

/* MODAL */

.backdrop {
  position: fixed;
  width: 100%;
  height: 1024px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #D41443;
  z-index: 1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: relative;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
}
.elipse-cross {
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-left: 490px;
  margin-right: 8px;
  background: #ECEBEB;
}
.cross {
  fill: #D41443;
  width: 11px;
  height: 11px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__modal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.modal__title {
  margin-bottom: 12px;
  text-align: center;
  color: #D41443;
}
.modal__name {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 12px;
}
.name__modal {
  margin-bottom: 4px;
  color: #FFB8CA;
}
.modal-name {
  padding-left: 42px;
  height: 40px;
  width: 448px;
}
.name-icon {
  position: absolute;
  width: 12px;
  height: 12px;
  fill: #D41443;
  left: 15px;
  top: 32px;
}

.modal__tel {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}
.tel-icon {
  position: absolute;
  width: 13px;
  height: 13px;
  fill: #D41443;
  left: 15px;
  top: 32px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__mail {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.email-icon {
  position: absolute;
  width: 15px;
  height: 12px;
  fill: #D41443;
  left: 15px;
  top: 32px;
}
.modal__comment {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}
.modal-comment {
  color: #FFB8CA;
  padding-top: 12px;
  padding-left: 16px;
  width: 448px;
  height: 120px;
}
.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border-radius: 15px;
  background: #D41443;
  margin-top: 30px;
  color: #FFFFFF;
}
