.hero-wrap{
    overflow: hidden;
    background-color:$backgraund-color ;
}
.hero {
    
    display: flex;
    position: relative;
    height: 502px;
    max-width: 1600px;
    background-color:$backgraund-color;
    background-repeat: no-repeat;
    background-image:
            url(/src/images/ellipse-pink-mobile.png);
    background-size: 346px 344px;
    background-position:
            top 83px left 36px;

                    @media screen and (min-width: 390px) {
                            & {
                            background-position:
                                    top 83px left 60%;
                            }
                        }
           
                
                 @media screen and (min-resolution: 2dppx) {
                   & {
                        background-image:
                            url(/src/images/ellipse-pink-mobile-2x.png);
                            }
                     }
            
    
        @media screen and (min-width: 768px) {
                & {
                    flex-direction: column;
                    height: 416px;
                    background-image:
                            url(/src/images/ellipse-pink-tablet.png);
                            background-size: 335px 333px;
                        background-position:
                            left 248px top 43px,
                               
                }
                      @media screen and (min-resolution: 2dppx) {
                             & {
                                 background-image:
                                    url(/src/images/ellipse-pink-tablet-2x.png);
                                    }
                                }
            }
        
            @media screen and (min-width:1200px) {
                & {
                    height: 664px;
                    background-image:
                            url(/src/images/ellipse-pink-desktop.png);
                            background-size: 534px 534px;
            
                        background-position:
                            left 517px top 54px;
                          

                }
                 @media screen and (min-resolution: 2dppx) {
                             & {
                                 background-image:
                                    url(/src/images/ellipse-pink-desktop-2x.png);
                                    }
                                }
            }
}

.hero__position-1{
    display: flex;
    justify-content: flex-end;
    margin-top: 194px;
   
    @media screen and (max-width:480px) {
          
        }

        @media screen and (min-width:768px) {
                margin-top: 102px;
                margin-bottom: 61px;
            }

        @media screen and (min-width:1200px) {
                margin-top: 147px;
                margin-bottom: 108px;
            }
}
.hero__ice-cream {
    position: absolute;
    z-index: 2;
    left: 20px;
    top: 194px;

        @media screen and (min-width:768px) {
                left: 32px;
                top: 102px;
            }
        
            @media screen and (min-width:1200px) {
                left: 56px;
                top: 147px;
            }
}

.hero__titel {
    
        margin-bottom: 20px;
        font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 1.16;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color:$rectangel-backgraund-text-color;

            @media screen and (min-width: 768px) {
                    & {
                        font-size: 22px;
                        line-height: 1.14;
                    }
                }
            
                @media screen and (min-width:1200px) {
                    & {
                        padding-bottom: 24px;
                        font-size: 38px;
                    }
                }
}
.hero__titel-text{
    font-size: 45px;
    color: $title-text-color;

    @media screen and (min-width: 768px) {
            & {
                font-size: 35px;
                line-height: 1.14;
            }
        }
      @media screen and (min-width: 1200px) {
             & {
                 font-size: 60px;
                 line-height: 1.16;
             }
        }
}

.title-btn-list{
    display: flex;
}
.hero__btn-products {
     width: 63px;
     height: 24px;
     margin-right: 8px;
     cursor: pointer;

     text-decoration: none;
     display: inline-flex;
     align-items: center;
     justify-content: center;

        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 1.25;
        
        align-items: center;
        text-align: center;      

        background:$title-text-color;
        border-radius: 20px;
        border-style: hidden;
        color:$rectangel-backgraund-text-color;

       
        @media screen and (min-width:1200px) {
            & {
                width: 107px;
                height: 40px;
                margin-right: 12px;

                font-size: 14px;
                line-height: 1.28;
            }
        }
}

.hero__btn-how {
    width: 83px;
    height: 24px;
    cursor: pointer;
    
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;

    align-items: center;
    text-align: center;

    background: $rectangel-backgraund-text-color;
    border-radius: 20px;
    border-style: hidden;
    color: $title-text-color;

        @media screen and (min-width:1200px) {
                & {
                    width: 138px;
                    height: 40px;
                            
                    font-size: 14px;
                    line-height: 1.28;
                }
            }

}

.hero__cafe {
    display: none;
    
        @media screen and (min-width:768px) {
            display: block;
        }
}

.cafe-list {
    display: inline-grid;
}

.cafe-list__item {
    display: inline-flex;
    flex-direction: column;
   
        font-family: 'Titan One';
        font-size: 28px;
        line-height: 1.14;
        text-align: right;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: $title-text-color;

        background-image: url(/src/images/ellipse-white-tablet.png);
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: right top;
        padding-right: 8px;
        padding-top: 3px;

        @media screen and (min-resolution: 2dppx) {
                & {
                    background-image:
                    url(/src/images/ellipse-white-tablet-2x.png);
                       
            }
        }

        @media screen and (min-width:1200px) {
                font-size: 46px;
                line-height: 1.15;
                padding-right: 17px;
                padding-top: 4px;
                background-image: url(/src/images/ellipse-white-desktop.png);
                background-size: 30px 30px;

                @media screen and (min-resolution: 2dppx) {
                        & {
                            background-image:
                                url(/src/images/ellipse-white-desktop-2x.png);
                
                        }
                    }
            }

}

.cafe-list__item:not(:last-child){
    margin-bottom: 17px;
}


    


.cafe-list__item-text {
    font-family: 'DM Sans';
    font-size: 8px;
    line-height: 1.25;
    text-align: right;

    letter-spacing:normal;
    text-transform: none;
    
    color: #FFFFFF;

        @media screen and (min-width:1200px) {
                font-size: 14px;
                line-height: 1.28;
            }
    

}

.hero__position-2{
    margin-left: 184px;

        @media screen and (min-width:1200px) {
            margin-left: 229px;
        }
}
.hero__milk {
    display: none;
    position: relative;

    @media screen and (min-width:768px) {
        width: 114px;

        display: flex;
        flex-wrap: wrap;

    }

    @media screen and (min-width:1200px) {
        width: 200px;
    }

}


.hero__milk-text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    margin-bottom: 7px;

    color: $rectangel-backgraund-text-color;

    @media screen and (min-width:1200px) {
        font-size: 14px;
        line-height: 1.4;
        margin-bottom: 20px;
    }
}

.hero__btn-arrow-right {
    width: 18px;
    height: 18px;

    border-radius: 50px;
    background-size: contain;
    border-style: hidden;
    background-image: url(/src/images/arrow-tablet.png);

    @media screen and (min-width:1200px) {
        width: 26px;
        height: 26px;

        background-image: url(/src/images/arrow-desktop.png);
    }

}

    @keyframes ice-cream-animation {
        from {
            transform: translateY(-205%);
        }

        to {
            transform: translateY(0%);
        }
    }
.ice-cream-img{
    position: absolute;
        top: 92px;
        left: 26%;
        animation-duration: 3s;
        animation-name: ice-cream-animation;

        @media screen and (min-width:768px) {
                left: 42%;
                top: 80px;
            }
        
    
        @media screen and (min-width:1200px) {
            left: 54%;
            top: 108px;
        }
    }

        @keyframes milk-animation {
        from {
        transform: translateX(-205%);
        }

        to {
        transform: translateX(0%);
        }
    }

.milk-img {
    display: none;
    position: absolute;
    left: 32px;
    top: 246px;
    animation-duration: 4s;
    animation-name: milk-animation;

    @media screen and (min-width:768px) {
        display: block;
    }

    @media screen and (min-width:1200px) {
        left: 16px;
        top: 388px;
    }

}
         @keyframes girl-animation {
             from {
                 transform: translateY(205%);
             }
    
             to {
                 transform: translateY(0%);
             }
         }

.girl-img{
    overflow: hidden;
    display: none;
    position: absolute;
       right: 32px;
        top: 265px;
        animation-duration: 4s;
        animation-name: girl-animation;
       
        @media screen and (min-width:768px) {
                display: block;
            }
        @media screen and (min-width:1200px) {
                right: 16px;
                top: 423px;
            }
}